<div class="wrapper">
    <div class="two">
        <form>
            <select>
                <option>Tutti</option>
                <option>Azione</option>
                <option>Avventura</option>
                <option>Boh</option>
            </select>
        </form>
        <div appGameList *ngFor="let item of gameList" (click)="idSelezionato = item.id" class="game" >
            <img src="{{ item.immagine }}"> 
            {{ item.name }}
        </div>
    </div>
    <div class="three">
        <app-game-detail *ngIf="idSelezionato != null" [gameID]="idSelezionato"></app-game-detail>
    </div>
</div>
