.four {
    grid-column: 1;
    grid-row: 1;
    padding-top:10px;
}
.five {
    grid-column: 2;
    grid-row: 1;
    padding-top:10px;
}
.six {
    grid-column: 3;
    grid-row: 1;
    padding-top:10px;
}
.seven {
    grid-column: 4;
    grid-row: 1;
    padding-top:10px;
}