<h1>Benvenuto!</h1>
<h2>Accedi per visualizzare il contenuto del sito.</h2>

<button (click)="loginAdmin()" type="button">ADMIN</button>
<button (click)="loginUser()" type="button">UTENTE</button>


<div *ngIf="tipoUtente != null" >
    <div>
        <label for="user">Inserisci Username:</label>
    </div>
    <input type="text" id="user" [(ngModel)]="username">

    <div>
        <label for="psw">Inserisci Password:</label>
    </div>
    <input type="password" id="psw" [(ngModel)]="password">

    <div>
        <button (click)="login(tipoUtente)" type="submit">Login</button>
    </div>
    
</div>